@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div id="contactpage">

    <h1><a asp-controller="Home" asp-action="contact">Go To contact Page</a></h1>
</div>

<div id="indexpage">

    <h1><a asp-controller="Home" asp-action="index">Go To index Page</a></h1>
</div>